beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.7.9
charset-normalizer==3.4.2
idna==3.10
joblib==1.5.1
Mako==1.3.10
MarkupSafe==3.0.2
numpy==2.3.1
pandas==2.3.1
platformdirs==4.3.8
PyCoalescedTsetlinMachineCUDA @ file:///home/coder/PyCoalescedTsetlinMachineCUDA/dist/pycoalescedtsetlinmachinecuda-0.1.9.tar.gz#sha256=bdad228893052b6aca31a1900b2f87cc661ecd09bb61b55f73dc444e022e433f
pycuda==2025.1.1
PySparseCoalescedTsetlinMachineCUDA @ file:///home/coder/PySparseCoalescedTsetlinMachineCUDA/dist/pysparsecoalescedtsetlinmachinecuda-0.2.0.tar.gz#sha256=d7e878f3a555c3b5b3dacc6cfa24a1dc66e6010155a9b73ae53c533d9f3daecd
python-dateutil==2.9.0.post0
pytools==2025.2.1
pytz==2025.2
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
setuptools==80.9.0
siphash24==1.7
six==1.17.0
soupsieve==2.7
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
